
#navcontainer1 {
    background-color: rgb(241, 76, 16);
    margin-top: 10px;
    }
    
#navcontainer2 {
background-color: rgb(241, 76, 16);
}

#logo{
    width: 200px;
    margin-left: 20px;
}

#navnames {
    color: white;
}

#navnames.active{
    color: rgb(194, 17, 17);
}



