/* dashboardhome */

#container2 {
    padding-top: 30px;
    margin-left: 150px;
    margin-right: 320px;
  }
  
  #balance {
    background-color:rgb(241, 76, 16);
    color: white;
  }
  
  #balance h5 {
    font-size: 30px;
  }
  #balance p {
  font-size: 50px;
  }
  
  #table2 {
    margin-left: 200px;
    border: solid 1px rgb(236, 172, 149);
  }