body{
  overflow: scroll;
}

#container {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 30px;
}

#purcontainer {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 30px;
}

#table{
  border: 1px solid rgb(241, 179, 156);
}

.nav-link {
color: #f19155;
}

#active {
  color: #fd670d;
  font-weight: 500;
}



