.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 650px;
  width: 250px;
  background: rgb(241, 76, 16);
  position: fixed;
}

.sidebarList {
  margin-top: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

.sidebarList .row {
  width: 100%;
  height: 60px;
  cursor: pointer;
  border: 1px solid rgb(247, 105, 69);
  align-items: center;
}


 
#sidebarlogo {
  width: 120px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 60px;
 
}

#logout {
  margin-top: 280px;
  background-color: white;
  height: 35px;
  width: 80px;
  border: rgb(241, 76, 16) 1px solid;
  border-radius: 10px;
  color: rgb(241, 76, 16);
  font-weight: 500;
  cursor: pointer;
}

#logout:hover {
  background-color: rgb(241, 76, 16);
  color: white;
  border: 1px solid white;
}
